[project]
	description = 500 Lines or Less
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Steven Yang (yangchenyun)
[access "refs/for/refs/*"]
	read = group user/Steven Yang (yangchenyun)
	push = group user/Steven Yang (yangchenyun)
	label-Code-Review = -2..+2 group user/Steven Yang (yangchenyun)
	label-Verified = -1..+1 group user/Steven Yang (yangchenyun)
	rebase = group user/Steven Yang (yangchenyun)
	removeReviewer = group user/Steven Yang (yangchenyun)
	submit = group user/Steven Yang (yangchenyun)
[access "refs/heads/*"]
	read = group user/Steven Yang (yangchenyun)
	create = group user/Steven Yang (yangchenyun)
	push = +force group user/Steven Yang (yangchenyun)
	pushMerge = group user/Steven Yang (yangchenyun)
[access "refs/tags/*"]
	push = group user/Steven Yang (yangchenyun)
	push = +force group user/Steven Yang (yangchenyun)
